// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



th {
    background-color: #cce6ff;
    color: black;
     padding: 15px;
}
td {
    background-color: white;
    color: black;
     padding: 15px;
}

tr:nth-child(even) {background-color: #f2f2f2}

tr:nth-child(even) {
   background-color: #f2f2f2;
}

.fondoGlobal {

	background-color : #140A6B;

}

.boton {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 25px;
  padding: 20px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  
}

.boton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.boton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.boton:hover span {
  padding-right: 25px;
}

.boton:hover span:after {
  opacity: 1;
  right: 0;
}

