<!--
  Generated template for the Marcas page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
  (ionInput)="getItems($event)"
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Indicador cobertura marca</ion-title>
    <ion-buttons end>
      <button (click)="mostrarVentanaConfirmacion()" ion-button icon-only color="royal">
        <ion-icon name="md-log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


</ion-header>

<ion-content padding class="fondoGlobal">

 <ion-searchbar  placeholder="Busqueda por marca" [(ngModel)]="busca" ></ion-searchbar>
      <div style="overflow-x:auto;">
        <table border="1" style="width: 100%">
          <tr>
            <th *ngIf="tipoUsuario == 'VENDEDOR'">Gerente</th>
            <th>Ruta</th>
            <th>Marca</th>
            <th>Base clientes</th>
            <th>Clientes con compra</th>
            <th>Porcentaje cobertura</th>
           
          </tr>
          <tbody>
          <tr  *ngFor='let item of datosMarcas | myfilter   :{marca: busca}' >
             <td *ngIf="tipoUsuario == 'VENDEDOR'" > {{ item.gerente }}</td>
             <td> {{ item.ruta}}</td>
             <td> {{ item.marca}}</td>
             <td> {{ item.baseClientes}}</td>
             <td> {{ item.clientesConCompra}}</td>
             <td> {{ item.porcentajeCobertura}}</td>
            

          </tr>
          </tbody>
        </table> 
        </div>    
  

</ion-content>
